---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getLangFromUrl } from "../i18n/utils";
const pageTitle = 'My Astro Learning Blog';
const allPosts = await getCollection('blog');
const lang = getLangFromUrl(Astro.url);
const filterPosts = allPosts.filter((post) => {
  return (post.id).split('/')[0] === lang.toLowerCase();
});
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      filterPosts.map((post) =>
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      )
    }
  </ul>
</BaseLayout>
