---
const pageTitle = 'Astro is so COOL!';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
	</head>
	<body>
		<a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">About</a>

		<h1>Astro is so COOL!</h1>
	</body>
</html>
