---
import Hamburger from '@/components/Hamburger';
import Navigation from '@/components/Navigation.astro';
import ThemeIcon from '@/components/ThemeIcon.astro';
import LanguagePicker from '@/components/LanguagePicker.astro';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---
<header class="flex flex-col py-2 pr-2 pl-4 fixed lg:sticky z-50 top-0 bg-background w-full min-h-14 border-b-2 lg:flex-row lg:justify-between lg:pr-4">
  <div class="flex items-center justify-between">
    <a href={translatePath('/')}>{t('header.logoText')}</a>
    <div class="lg:hidden">
      <Hamburger client:load/>
    </div>
  </div>
  <nav>
    <div data-header-navigation class="grid transition-[grid-template-rows] ease-in-out duration-300 grid-rows-[0fr] lg:flex">
      <div class="overflow-hidden flex flex-col gap-2 lg:flex-row lg:items-center lg:gap-4">
        <Navigation />
        <LanguagePicker />
        <div class="pl-2 lg:pl-0 lg:flex">
          <ThemeIcon />
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
  import { isHeaderNavigationOpen } from "@/stores";
  
  const target = document.querySelector('[data-header-navigation]');
  isHeaderNavigationOpen.subscribe((open) => {
    if (open) {
      target?.classList.remove('grid-rows-[0fr]');
      target?.classList.add('grid-rows-[1fr]');
    } else {
      target?.classList.remove('grid-rows-[1fr]');
      target?.classList.add('grid-rows-[0fr]');
    }
  });
</script>
