---
import Hamburger from '@/components/Hamburger';
import Navigation from '@/components/Navigation.astro';
import ThemeIcon from '@/components/ThemeIcon.astro';
---
<header class="p-2">
  <nav>
    <Hamburger client:load />
    <ThemeIcon />
    <div data-header-navigation class="grid transition-[grid-template-rows] ease-in-out duration-300 grid-rows-[0fr]">
      <div class="overflow-hidden">
        <Navigation />
      </div>
    </div>
  </nav>
</header>

<script>
  import { isHeaderNavigationOpen } from "@/stores";
  
  const target = document.querySelector('[data-header-navigation]');
  isHeaderNavigationOpen.subscribe((open) => {
    if (open) {
      target?.classList.remove('grid-rows-[0fr]');
      target?.classList.add('grid-rows-[1fr]');
    } else {
      target?.classList.remove('grid-rows-[1fr]');
      target?.classList.add('grid-rows-[0fr]');
    }
  });
</script>
