---
import Hamburger from '@/components/Hamburger';
import Navigation from '@/components/Navigation.astro';
import ThemeIcon from '@/components/ThemeIcon.astro';
---
<header class="p-2">
  <nav>
    <Hamburger client:load />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
