---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---
<div class="nav-links">
  <a href={translatePath('/')}>{t('nav.home')}</a>
  <a href={translatePath('/about/')}>{t('nav.about')}</a>
  <a href={translatePath('/blog/')}>{t('nav.blog')}</a>
  <a href={translatePath('/tags/')}>{t('nav.tags')}</a>
</div>
